.tabbedWindowContent {
  .bx--tabs--scrollable__nav:focus {
    outline: 0;
  }
  .bx--tabs--scrollable__nav {
    padding-left: $layout-01;
  }

  .bx--tabs--scrollable__nav-item .bx--tabs__nav-item--selected:focus {
    outline: 0;
  }

  .bx--tabs--scrollable__nav-item
  .bx--tabs__nav-item--selected:hover .bx--tabs--scrollable__nav-link {
    border-bottom: 2px solid $interactive-04;
    cursor: default;
    outline: 0;
  }

  .bx--tab-content {
    max-height: calc(100% - 2.5rem);
    flex: 0 0 calc(100% - 2.5rem);
    flex-grow: 1;
  }
}
