@import './overrides';
@import './TabPanel/tab-panel';

.tabbedWindowContent {
  max-height: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  // sections about dropdown filters below TODO: refactor to component
  .headerDropdowns {
    display: flex;
    justify-content: flex-end;
    height: $layout-01;
    padding-top: $spacing-01;
    padding-right: $layout-01;
    margin-bottom: -$layout-01;
  }

  .dropdownFilter {
    flex-grow: 1;
  }

  .bx--multi-select__wrapper {
    width: 12.5rem;
    margin-left: $spacing-03;
  }

}
