@import './TileLabel/tile-label.scss';

.headerTile.bx--tile {
  background-color: $interactive-01;
  display: flex;
  flex-direction: column-reverse;

  width: 1px;
  height: 1px;
  opacity: 0;
  cursor: pointer;
}

.headerTile.bx--tile:hover {
  background-color: $hover-primary;
}
