.headerTileWrapper .bx--tile {
    background-color: $interactive-01;
    display: flex;
    flex-direction: column-reverse;
    transition: background-color .4s carbon--motion(standard);
    width: 1px;
    height: 1px;
    opacity: 0;
    cursor: pointer;
}
