.previewColumn {
  .previewPane {
    background-color: $ui-02;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    overflow-y: scroll;


    .previewPaneContentCol {
      //background-color: $support-02;
      padding-right: $layout-01;
      flex-grow: 1;

      p {
        margin: $layout-01 0;
      }
    }

    .previewPaneButtonCol {
      //background-color: $support-01;
      flex-grow: 0;
      position: sticky;
      top: 0;
    }

    .previewPaneButton {
      margin: $spacing-03 0;
      padding: $spacing-04;
      border-radius: $layout-03;
      display: flex;
      align-items: center;
      color: $icon-01;
      background: $interactive-04;
      border: none;
      cursor: pointer;
      transition: background-color 110ms carbon--motion(standard);

      svg: {
        margin-left: $spacing-01;
      }
    }

    .previewPaneButton:hover {
      background-color: $hover-primary;
      color: $icon-02;
    }

    .previewPaneButton:active {
      background-color: $active-light-ui;
      color: $hover-primary;
    }

    .previewPaneButton:focus {
      outline: none;
    }

    .previewPaneButton.expandPane:hover {
      svg {
        animation: bounceScaleOut .7s carbon--motion(standard);
      }

      @keyframes bounceScaleOut {
        from {
          transform: scaleX(1) scaleY(1);
        }
        50% {
          transform: scaleX(1.1) scaleY(1.1);
        }
        to {
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    .previewPaneButton.reducePane:hover {
      svg {
        animation: bounceScaleIn .7s carbon--motion(standard);
      }

      @keyframes bounceScaleIn {
        from {
          transform: scaleX(1) scaleY(1);
        }
        50% {
          transform: scaleX(.9) scaleY(.9);
        }
        to {
          transform: scaleX(1) scaleY(1);
        }
      }
    }

    .previewPaneButton.addToReadingList:hover {
      svg {
        animation: bounceTip .7s carbon--motion(standard);
      }

      @keyframes bounceTip {
        from {
          transform: rotateZ(0);
        }
        50% {
          transform: rotateZ(60deg);
        }
        to {
          transform: rotateZ(0);
        }
      }
    }

    .previewPaneButton.removeFromList {
      svg {
        transition: all .4s carbon--motion(standard);
      }

      svg:nth-child(2) {
        margin-left: -$layout-03;
        opacity: 0;
      }
    }

    .previewPaneButton.removeFromList:hover {
      color: $support-01;

      svg {
        transform: rotateZ(90deg);
      }
      svg:nth-child(1) {
        opacity: 0;
      }

      svg:nth-child(2) {
        opacity: 1;
      }
    }

    h1 {
      @include carbon--type-style('productive-heading-05')
      visibility: hidden;
    }

    * {
      opacity: 0;
      transition: opacity .4s carbon--motion(standard);
      visibility: hidden;
    }
  }
}

.previewColumn.visible {
  .previewPane {
    bottom: 0;
    right: 0;
    padding: $spacing-03;
    margin-left: $layout-01;
  }

  h1 {
    visibility: visible;
  }

  * {
    opacity: 1;
    visibility: visible;
  }
}
