@import '../../../StickyButton/sticky-button';

.previewColumn {
  position: relative;
  display: flex;
  align-content: stretch;

  .previewPane {
    background-color: $ui-02;
    margin-left: $layout-01;
    opacity: 0;
    flex-grow: 0;
    padding: $spacing-03;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .previewPane {
    .contentColumn {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


    }
    .buttonColumn {
      flex-grow: 0;
      flex-basis: $layout-01;

      button {
        margin-bottom: $spacing-03;
        padding: $spacing-03;
      }

    }
  }
}
