@import './_Resizer/resizer';

.pane {
  align-content: stretch;
  position: relative;
  flex-grow: 1;
}

.resizablePane--content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-content: stretch;
}
