@import '../../components/StickyButton/sticky-button';
@import '../../components/BackgroundPicker/background-picker';
@import '../../components/ProfileModal/profile-modal';

.footerControls {
  position: fixed;
  bottom: $layout-01;
  padding: 0 $layout-01;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.footerControls .stickyButton {
  width: $layout-05;
  height: $layout-05;
  margin: $spacing-01;

  Button {
    width: $layout-05;
    height: $layout-05;
    border-radius: $layout-03;
    background-color: $interactive-01;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}

.footerControls .dashTopButtons {
  display: flex;
}

.footerControls .controlMenus {
  display: flex;
  align-items: flex-start;
  opacity: 0;

  .bx--dropdown__wrapper.bx--list-box__wrapper {
    margin-left: $layout-03;
  }
}
