@import '../../components/StickyButton/sticky-button';
@import '../../components/BackgroundPicker/background-picker';

.footerControls {
  position: fixed;
  bottom: $layout-01;
  padding: 0 $layout-01;
  display: flex;
  justify-content: space-between;
  z-index: 5;

}

.footerControls .dashTopButtons {
  display: flex;
}

.footerControls .controlMenus {
  display: flex;
  align-items: flex-start;
  opacity: 0;

  .bx--dropdown__wrapper.bx--list-box__wrapper {
    margin-left: $layout-03;
  }
}
