@import '../../components/StickyButton/sticky-button';
@import '../../components/BackgroundPicker/background-picker';

.footerControls {
  position: fixed;
  bottom: $layout-01;
  padding: 0 $layout-01;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  //background-color: $interactive-04;

}

.footerControls .dashTopButtons {
  display: flex;
}

.footerControls .controlMenus {
  opacity: 0;
}
