@import './_EditorsPane/editors-pane';

.codepen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.pane {
  display: flex;
  position: relative;
  flex-grow: 1;
}

#codepenTopPane {
    background-color: $ui-01;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
}

.top-pane {
  background-color: $ui-01;
  max-height: 40vh;
}

.bottom-pane {
  align-content: stretch;

  iframe {
    flex-grow: 1;
    margin: 0;
  }
}
