@import './_EditorsPane/editors-pane';

.codePen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.pane {
  display: flex;
}

.top-pane {
  min-height: $layout-04;
  max-height: 45vh;

  background-color: $ui-01;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bottom-pane {
  flex-grow: 1;

  iframe {
    flex-grow: 1;
  }
}
