.tilesPreviewer {
  .tilesColumn {
    .bx--tile {
        background-color: $decorative-01;
        height: 120px;
        padding: 1rem;
        margin: $spacing-03 0;
        cursor: pointer;
      }

      .bx--tile:first-of-type {
        margin-top: 0;
      }

      .bx--tile.activeArticleTile h2 {
        color: $text-04;
      }
    }
}
