.tilesPreviewer {
  .tilesColumn {
    .bx--tile {
        background-color: $decorative-01;
        height: 7.5rem;
        padding: 1rem;
        margin: $spacing-03 0;
        cursor: pointer;

        transition: background-color 0.7s carbon--motion(standard);
      }

      .bx--tile:first-of-type {
        margin-top: 0;
      }

      .bx--tile:hover {
        background-color: $ui-04;
      }

      .bx--tile.activeArticleTile {
        background-color: $ui-02;
        transition: background-color 0.7s carbon--motion(standard);
      }

      .bx--tile.activeArticleTile h2 {
        color: $text-04;

      }
    }
}
