@import './ArticleTile/article-tile';
@import './PreviewPane/preview-pane';

.tilesPreviewer {
  max-height: inherit;
  flex: 0 0 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .overflowWrapper {
    max-height: inherit;
    flex: 0 0 100%;
    display: flex;

    .tilesColumn {
      overflow-y: scroll;
      overflow-x: hidden;
      flex-grow: 1;
    }
  }
}
