@import './ArticleTile/article-tile';
@import './PreviewPane/preview-pane';

.tilesPreviewer {
  max-height: inherit;
  overflow: scroll;

  .overflowWrapper {
    max-height: inherit;
    background-color: $ui-02;
    display: flex;

    .tilesColumn {
      overflow-y: scroll;
      overflow-x: hidden;
      flex-grow: 1;
      background-color: $ui-01;

      .bx--tile {
          background-color: $decorative-01;
          height: 120px;
          padding: 1rem;
          margin: $spacing-03 0;
        }

        .bx--tile:first-of-type {
          margin-top: 0;
        }

    }

  }
}
