@import './ArticleTile/article-tile';
@import './PreviewPane/preview-pane';
@import './overrides';

.tilesPreviewer {
  max-height: inherit;
  overflow-y: scroll;
  overflow-x: hidden;

  .overflowWrapper {
    max-height: inherit;
    display: flex;

    .tilesColumn {
      overflow-y: scroll;
      overflow-x: hidden;
      flex-grow: 1;
      background-color: $ui-01;
    }
  }
}
