@import './_AccordionViewer/accordion-viewer';
@import './_CardGallery/card-gallery';
@import './_CodePen/codepen';
@import '../CodePenModal/codepen-modal';
@import './_Tabbed/tabbed-window-content';
@import './_TilesPreviewer/tiles-previewer';
@import './_SinglePane/single-pane-content';

.mainContentWindow {
  background-color: $ui-01;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 0;
  height: 0;
  max-height: 100%;
  flex: 0 0 100%;
  overflow: hidden;
}
