@import './GalleryCard/gallery-card';

.cardGallery {
  overflow: scroll;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  grid-auto-flow: dense;
  grid-auto-rows: 24vh;
  grid-gap: $layout-01;
}
