.tabPanel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  //padding-bottom: $layout-01;

  .panelHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: $layout-01;
  }

  .headerDropdowns {
    display: flex;
    justify-content: stretch;

  }

  .dropdownFilter {
    flex-grow: 1;
  }

  .bx--multi-select__wrapper {
    width: 12.5rem;
    margin-left: $spacing-03;
  }

}
