.tabPanel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .panelHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }

  .headerDropdowns {
    display: flex;
    justify-content: stretch;

  }

  .dropdownFilter {
    flex-grow: 1;
  }

  .bx--multi-select__wrapper {
    width: 12.5rem;
    margin-left: $spacing-03;
  }

}
