.galleryCard.bx--tile {
  background: $ui-03;
  box-shadow: 0 $spacing-01 $ui-background;
  padding: $spacing-03;
  transition: background-color .4s carbon--motion(standard);
}

.galleryCard.bx--tile:hover {
  background: $decorative-01;
  .galleryCardLabel, .galleryCardLabel__secondary {
    color: $text-02;
    transition: color .4s carbon--motion(standard);
  }
}

.previewIFrame {
  width: 100%;
  height: 70%;
  margin-bottom: $spacing-02;
}

.galleryCard:nth-child(3), .galleryCard:nth-child(14n + 13) {
  grid-column: span 2;
  grid-row: span 2;
  .galleryCardLabel {
    @include carbon--type-style('productive-heading-05');
  }
  .galleryCardLabel__secondary {
    @include carbon--type-style('productive-heading-03');
  }
}

.galleryCardLabel, .galleryCardLabel__secondary {
  transition: color .4s carbon--motion(standard);
}

.galleryCardLabel {
  @include carbon--type-style('productive-heading-03');
}

.galleryCardLabel__secondary {
  @include carbon--type-style('productive-heading-01');
}

.galleryCardIconButton {
  position: absolute;
  top: $spacing-03;
  right: $spacing-03;
  fill: $icon-02;
}

.coverLink {
  width: calc(100% - 16px);
  position: absolute;
  top: $spacing-03;
  left: $spacing-03;
  bottom: $spacing-03;
  border: 0;
  opacity: 0;
  background: transparent;
  cursor: pointer;

  transition: opacity .4s carbon--motion(exit);
}

.coverLink:hover {
  opacity: 1;
  animation: showIcon .4s carbon--motion(entrance);
}

.coverLink:focus {
  outline: 0;
}

.inReadingListIcon {
  position: absolute;
  top: $spacing-02;
  left: $spacing-02;
  transition: all .4s carbon--motion(standard);
}

@keyframes showIcon {
  from {
    opacity: 0;
    transform: translate3d(-$spacing-03, $spacing-03, 0);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    filter: hue-rotate(0);
  }
}
