.articlePreviewTile {
  .bx--tile {
      background-color: $decorative-01;
      height: 7.5rem;
      padding: 1rem;
      margin: $spacing-03 0;
      cursor: pointer;

      transition: background-color 0.7s carbon--motion(standard);
    }
  .bx--tile:hover {
      background-color: $ui-04;
    }
  }
.articlePreviewTile:first-of-type {
  .bx--tile {
      margin-top: 0;
    }
  }
.articlePreviewTile.activeArticleTile {
  .bx--tile {
    background-color: $ui-02;
    transition: background-color 0.7s carbon--motion(standard);
  }

  .bx--tile h2 {
    color: $text-04;
  }
}

.bx--skeleton__placeholder.articlePreviewTile {
    position: relative;
    padding: 0;
    background: #353535;
    border: none;
    box-shadow: none;
    pointer-events: none;
    margin-bottom: $spacing-03;
    width: 100%;
}


.bx--skeleton__placeholder.articlePreviewTile::before {

    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #525252;
    animation: 3000ms ease-in-out skeleton infinite;
    content: '';
}
