.stickyButton {
  .bx--btn.bx--btn--icon-only.bx--tooltip__trigger::after, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger .bx--assistive-text, .bx--btn.bx--btn--icon-only.bx--tooltip__trigger + .bx--assistive-text {
    background-color: $decorative-01;
    color: $text-01;
  }

  .bx--tooltip__trigger.bx--tooltip--top.bx--tooltip--align-center::before {
    border-color: $decorative-01 transparent transparent transparent;
  }
}
