@import './_overrides';

.stickyButton {
  //position: fixed;
  width: $layout-05;
  height: $layout-05;
  //padding: $spacing-02;
  bottom: $layout-01;
  left: $layout-03;

  Button {
    //width: 100%;
    width: $layout-05;
    //height: 100%;
    height: $layout-05;
    border-radius: $layout-03;
    background-color: $interactive-01;
    display: flex;
    justify-content: center;
  }

  Button:hover {
      transform: rotateZ(360deg);
      transition-duration: 1;
  }

  .pictogramWrapper {
    display: flex;

    svg {
      fill: $text-02;
      }
  }
}
