@import './_HeaderTileRow/header-tile-row';
@import './_MainContentRow/main-content-row';
@import './_FooterControlsRow/footer-controls-row';

.mainBodyGrid {
  display: grid;
  height: 100vh;
  padding: $layout-01;
  padding-bottom: 0;

  //padding-bottom: $layout-01;
  //grid-template-rows: fit-content(20%) auto $layout-05;
  grid-template-rows: fit-content(20%) auto;
}
