@import './_HeaderTileRow/header-tile-row';
@import './_MainContentRow/main-content-row';
@import '../_FooterControls/footer-controls';

.mainBodyGrid {
  display: grid;
  height: 100vh;
  padding: $layout-01;
  padding-bottom: 0;
  grid-template-rows: fit-content(20%) auto;
}
