.tileLabel {
  display: flex;
  justify-content: space-between;

  .title {
    @include carbon--type-style("expressive-heading-05", true);
    color: $text-04;
    //opacity: 0;
  }

  .iconWrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: $spacing-02;
    //opacity: 0;

    svg {
      fill: $text-04;
    }
  }
}
